<?php 

// Change the following Parameters as needed. 

// General items
$CONF_sim_domain =     "http://localhost/";            //Your Grid-Domain
$CONF_install_path =   "/splash";                      //Installation path

// mysql database items
$CONF_db_server =      "localhost";                   //Your Database-Server
$CONF_db_user =        "root";                       //Database-User
$CONF_db_pass =        "";                           //Password of User
$CONF_db_database =    "opensim";                    //Name of Database

// The Coordinates of the Grid-Center
$CONF_center_coord_x = "5000";           //the Center-X-Coordinate
$CONF_center_coord_y = "5000";           //the Center-Y-Koordinate

// Map URL's
$SYSTITEL = "openSIMULATOR";
$SYSURL = "http://localhost/map/";
$IMGURL = "http://localhost:8002/maptiles/";

// QuickMap Template
$CONF_template   = "default";
$CONF_image_size = 230;

// QuickMap Options
$displayRoundedCorner = true;
$displayLogoEffect    = true;

// style-sheet items
$CONF_style_sheet =    "/css/stylesheet.css";          //Link to your StyleSheet
?>

